@import url("./Automation.css");
@import url("./Development.css");
@import url("./Footer.css");
@import url("./Hero.css");
@import url("./Navbar.css");
@import url("./theme.css");


.home-section.dark{
    transition: all 3s;
    /* margin: 10px 20px;
    border-style: outset;
    border-width: 2px;
    border-radius: 20px;
    z-index: 999; */
}